.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.bus-container {
    display: flex;
    gap: 20px; /* Espacio entre las columnas */
    background-color: #f1eaea;
    padding: 10px;
    align-items: flex-start; /* Alinear al lado izquierdo */
    max-width: 600px; /* Ejemplo de restricción de ancho a 800px */
}

.column {
    display: grid;
    grid-template-rows: repeat(10, 1fr); /* 5 filas para los asientos */
    gap: 10px; /* Espacio entre los asientos */
    background-color: #f2f2f2; /* Fondo gris para la columna */
    padding: 10px;
    }

.row {
    display: flex;
    justify-content: flex-start;
}

.seat {
    background-color: #ccc;
    height: 32px; /* Altura más pequeña */
    width: 32px; /* Ancho más pequeño */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center; 
    align-items: center;
    font-weight: bold;
    font-weight: 300; /* Fuente más delgada */
    font-size: 20px; /* Tamaño de fuente más grande */
    border: 1px solid #999; /* Borde de 1px de ancho y color gris */
    border-radius: 8px; /* Esquinas redondeadas */
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente */

}
/* ... */
#empty-seat,
#empty-seat-2 {
    display: none; /* Oculta los asientos vacíos */
}
.seat-image{
    background-color: #ccc;
    height: 32px; /* Altura más pequeña */
    width: 32px; /* Ancho más pequeño */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-weight: 300; /* Fuente más delgada */
    font-size: 20px; /* Tamaño de fuente más grande */
    border-radius: 8px; /* Esquinas redondeadas */
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente */
}
.seat-image2{
    
    height: 32px; /* Altura más pequeña */
    width: 32px; /* Ancho más pequeño */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-weight: 300; /* Fuente más delgada */
    font-size: 20px; /* Tamaño de fuente más grande */

    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente */
}
    

/* Agrega el siguiente estilo al final del archivo custom.css */
.seat:hover {
    background-color: #07dffc; /* Cambia el color de fondo cuando el cursor está sobre el asiento */
    cursor: pointer; /* Cambia el cursor a un puntero */
}



/* para la barra */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: #555555;
    padding: 25px 60px;
    cursor: pointer;
    position: relative;
    font-family: Arial, sans-serif; /* Cambia la fuente aquí */
    font-size: 18px; /* Ajusta el tamaño de la fuente según tu preferencia */
}

.arrow,
.arrow-color {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}

.tab-text {
    font-size: 20px;
    font-weight: bold;
}

/* .btn-tab:hover {
background-color: #ff9900;
color: #ffffff;
} */

.btn-tab:hover::before {
    border-right-color: #ff9900;
}

.arrow-color {
    background-color: #ff9900;
    color: #ffffff;
}

.bus_box{
    --gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
color: var(--color-texto);
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
border: 0;
vertical-align: baseline;
flex-grow: 1;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 0 30px;
}

.bus_container{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
color: var(--color-texto);
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
position: relative;
display: flex;
justify-content: center;
flex-grow: 1;
height: calc(var(--asiento) * 20);
width: 300px;
}

.bus_img{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
color: var(--color-texto);
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
width: 100%;
top: 0;
}

.bus-label{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
color: var(--color-verde);
position: absolute;
top: 12%;
}

.bus_marco{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
color: var(--color-texto);
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
height: calc( var(--asiento) * 14);
width: calc( var(--asiento) * 5);
position: absolute;
top: 20%;
display: flex;
flex-wrap: wrap;
}

.asiento_marco{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
color: var(--color-texto);
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
border: 0;
vertical-align: baseline;
list-style: none;
padding: 2px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: calc(100% / 5);
height: calc(100% / 14);
}

.asiento_circulo disponible{
    --gap: 1rem;
    --color-verde: #00ae42;
    --color-primary: #00ae42;
    --color-primary-hover: #2c974b;
    --main-height: 40px;
    --max-radio: 10rem;
    --color-verde-oscuro: #2c974b;
    --color-verde-focus: rgba(59, 173, 76, 0.3);
    --color-azul: #09aaff;
    --color-fucsia: #C92B9A;
    --color-deshabilitado: #8E8E8E;
    --color-texto: #333333;
    --color-texto-alt: #555555;
    --color-amarillo: #f4c53d;
    --color-amarillo2: #ffc629;
    --color-amarillo3: #ffad46;
    --color-naranja: #FF5100;
    --color-warning: #f95f10;
    --color-oscuro: #282D31;
    --color-verde-claro: #c0ffcabf;
    --color-borde: #BABABA;
    --color-rojo: #CC0000;
    --color-body: #f1f2f4;
    --input-radio: 12px;
    --border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    --box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
    --radius8: 8px;
    --main-radius: 10px;
    --zindex-busqueda: 100;
    --asiento: 48px;
    --header-height: 70px;
    --header-width: 100%;
    --header-logo: 2.5rem;
    --color-gray-20: #F2F2F2;
    --color-gray-10: #e9e9f0;
    --color-disable: #c6c6ce;
    --color-white: #FFFFFF;
    --font-medium: 500;
    --font-bold: bold;
    --width-count: 10%;
    --modal-width: 320px;
    --fs-h2: 42px;
    --font-size-footer: 18px;
    --font-size-title: 25px;
    --font-size-subtitle: 14px;
    --color-navy-10: #f6f7f9;
    --color-navy-20: #e5eaf0;
    --color-navy-30: #d4dce7;
    --color-navy-40: #c3cfdd;
    --color-navy-50: #b2c1d4;
    --color-navy-100: #8ea1b9;
    --color-navy-200: #6b829d;
    --color-navy-300: #476282;
    --color-font-nuevo: #476282;
    --color-border: rgba(229,234,239,0.5);
    --border: .5px solid rgba(229,234,239,0.5);
    --background: rgba(229,234,239,0.25);
    list-style: none;
    font-family: 'Ubuntu','Roboto','Heveltica','Arial';
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    font-size: 17px;
    border-radius: 3px;
    color: var(--color-texto);
    background-color: #f4dfa5;
    border: none;
}

.asiento_circulo ocupado{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
list-style: none;
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
flex-direction: column;
font-size: 17px;
border-radius: 3px;
background-color: #d7d7dc;
color: transparent;

}

.color{
--gap: 1rem;
--color-verde: #00ae42;
--color-primary: #00ae42;
--color-primary-hover: #2c974b;
--main-height: 40px;
--max-radio: 10rem;
--color-verde-oscuro: #2c974b;
--color-verde-focus: rgba(59, 173, 76, 0.3);
--color-azul: #09aaff;
--color-fucsia: #C92B9A;
--color-deshabilitado: #8E8E8E;
--color-texto: #333333;
--color-texto-alt: #555555;
--color-amarillo: #f4c53d;
--color-amarillo2: #ffc629;
--color-amarillo3: #ffad46;
--color-naranja: #FF5100;
--color-warning: #f95f10;
--color-oscuro: #282D31;
--color-verde-claro: #c0ffcabf;
--color-borde: #BABABA;
--color-rojo: #CC0000;
--color-body: #f1f2f4;
--input-radio: 12px;
--border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
--box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
--box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
--radius8: 8px;
--main-radius: 10px;
--zindex-busqueda: 100;
--asiento: 48px;
--header-height: 70px;
--header-width: 100%;
--header-logo: 2.5rem;
--color-gray-20: #F2F2F2;
--color-gray-10: #e9e9f0;
--color-disable: #c6c6ce;
--color-white: #FFFFFF;
--font-medium: 500;
--font-bold: bold;
--width-count: 10%;
--modal-width: 320px;
--fs-h2: 42px;
--font-size-footer: 18px;
--font-size-title: 25px;
--font-size-subtitle: 14px;
--color-navy-10: #f6f7f9;
--color-navy-20: #e5eaf0;
--color-navy-30: #d4dce7;
--color-navy-40: #c3cfdd;
--color-navy-50: #b2c1d4;
--color-navy-100: #8ea1b9;
--color-navy-200: #6b829d;
--color-navy-300: #476282;
--color-font-nuevo: #476282;
--color-border: rgba(229,234,239,0.5);
--border: .5px solid rgba(229,234,239,0.5);
--background: rgba(229,234,239,0.25);
color: var(--color-texto);
list-style: none;
font-family: 'Ubuntu','Roboto','Heveltica','Arial';
box-sizing: border-box !important;
fill: #8a9bb2;
height: 20px;
}

.buses{
    --gap: 1rem;
    --color-verde: #00ae42;
    --color-primary: #00ae42;
    --color-primary-hover: #2c974b;
    --main-height: 40px;
    --max-radio: 10rem;
    --color-verde-oscuro: #2c974b;
    --color-verde-focus: rgba(59, 173, 76, 0.3);
    --color-azul: #09aaff;
    --color-fucsia: #C92B9A;
    --color-deshabilitado: #8E8E8E;
    --color-texto: #333333;
    --color-texto-alt: #555555;
    --color-amarillo: #f4c53d;
    --color-amarillo2: #ffc629;
    --color-amarillo3: #ffad46;
    --color-naranja: #FF5100;
    --color-warning: #f95f10;
    --color-oscuro: #282D31;
    --color-verde-claro: #c0ffcabf;
    --color-borde: #BABABA;
    --color-rojo: #CC0000;
    --color-body: #f1f2f4;
    --input-radio: 12px;
    --border1: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    --box4: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --box5: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --box-principal: 0px 12px 21px 0px rgba(0, 11, 67, 0.15);
    --radius8: 8px;
    --main-radius: 10px;
    --zindex-busqueda: 100;
    --asiento: 48px;
    --header-height: 70px;
    --header-width: 100%;
    --header-logo: 2.5rem;
    --color-gray-20: #F2F2F2;
    --color-gray-10: #e9e9f0;
    --color-disable: #c6c6ce;
    --color-white: #FFFFFF;
    --font-medium: 500;
    --font-bold: bold;
    --width-count: 10%;
    --modal-width: 320px;
    --fs-h2: 42px;
    --font-size-footer: 18px;
    --font-size-title: 25px;
    --font-size-subtitle: 14px;
    --color-navy-10: #f6f7f9;
    --color-navy-20: #e5eaf0;
    --color-navy-30: #d4dce7;
    --color-navy-40: #c3cfdd;
    --color-navy-50: #b2c1d4;
    --color-navy-100: #8ea1b9;
    --color-navy-200: #6b829d;
    --color-navy-300: #476282;
    --color-font-nuevo: #476282;
    --color-border: rgba(229,234,239,0.5);
    --border: .5px solid rgba(229,234,239,0.5);
    --background: rgba(229,234,239,0.25);
    color: var(--color-texto);
    font-family: 'Ubuntu','Roboto','Heveltica','Arial';
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: flex;
    padding-top: 1rem;
    width: 100%;
}


.placeholder_circle {
    border-radius: 1rem;
    border: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s infinite ease-in-out
}